version: "3"
services:
  
  # web:
  #  build:
  #     context: ./web
  #  ports:
  #   -  3000:3000
  #  container_name: mern-ui
  #  networks:
  #   -  mern-stack-net
  #  volumes:
  #   -  ./web/src:/usr/app/src
  #   -  ./web/public:/usr/app/public
  #  depends_on:
  #   - api
  #  stdin_open: true
  #  tty: true

  api:
   build:
      context: ./api/src
   ports:
     - 8080:8080
   container_name: mern-api
   networks:
     - mern-stack-net
   volumes:
    - ./api/src:/usr/app/src
   depends_on:
    - db

  db:
    image: mongo
    ports:
      - 27017:27017
    container_name: mongo-db
    networks:
      - mern-stack-net
    volumes:
      - mongo-data:/data/db

networks:
  mern-stack-net:

volumes:
  mongo-data: